In [1]:
import pandas as pd
import numpy as np

In [2]:
traindata=pd.read_csv('train/train.csv')
testdata=pd.read_csv('test/test.csv')

In [3]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341424 entries, 0 to 341423
Data columns (total 24 columns):
reservation_id                        341424 non-null object
booking_date                          341424 non-null object
checkin_date                          341424 non-null object
checkout_date                         341424 non-null object
channel_code                          341424 non-null int64
main_product_code                     341424 non-null int64
numberofadults                        341424 non-null int64
numberofchildren                      341424 non-null int64
persontravellingid                    341424 non-null int64
resort_region_code                    341424 non-null int64
resort_type_code                      341424 non-null int64
room_type_booked_code                 341424 non-null int64
roomnights                            341424 non-null int64
season_holidayed_code                 341310 non-null float64
state_code_residence                  336660 non-null float64
state_code_resort                     341424 non-null int64
total_pax                             341424 non-null int64
member_age_buckets                    341424 non-null object
booking_type_code                     341424 non-null int64
memberid                              341424 non-null object
cluster_code                          341424 non-null object
reservationstatusid_code              341424 non-null object
resort_id                             341424 non-null object
amount_spent_per_room_night_scaled    341424 non-null float64
dtypes: float64(3), int64(12), object(9)
memory usage: 62.5+ MB

In [4]:
traindata.head()

,reservation_id,booking_date,checkin_date,checkout_date,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,...,state_code_residence,state_code_resort,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,reservationstatusid_code,resort_id,amount_spent_per_room_night_scaled
0,07659f3758d8aee27f5a7e2887adeacb67021cb95ada1b...,05/04/18,05/04/18,06/04/18,3,1,2,0,46,3,...,7.0,3,3,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,C,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,7.706428
1,03930f033646d073462b35d411616323597715ac4fc398...,23/01/15,11/04/15,16/04/15,1,1,2,0,46,3,...,7.0,5,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac...,6.662563
2,d145a32920e6587ad95bfe299d80c0affa268220535aaf...,28/01/15,01/02/15,05/02/15,1,1,2,0,47,1,...,7.0,1,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,E,A,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,7.871602
3,cfd77f44811ed62f25a220b53324cdbafc662a4c9e5f04...,02/05/15,11/06/15,16/06/15,1,1,2,2,46,2,...,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,5.344943
4,937cff9e4dcfc2459620153dfc8b9962ac22bea67dfb29...,02/09/15,14/12/15,19/12/15,1,1,2,0,46,2,...,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,7.059346

In [5]:
traindata.isnull().sum()

reservation_id                           0
booking_date                             0
checkin_date                             0
checkout_date                            0
channel_code                             0
main_product_code                        0
numberofadults                           0
numberofchildren                         0
persontravellingid                       0
resort_region_code                       0
resort_type_code                         0
room_type_booked_code                    0
roomnights                               0
season_holidayed_code                  114
state_code_residence                  4764
state_code_resort                        0
total_pax                                0
member_age_buckets                       0
booking_type_code                        0
memberid                                 0
cluster_code                             0
reservationstatusid_code                 0
resort_id                                0
amount_spent_per_room_night_scaled       0
dtype: int64

In [6]:
traindata['state_code_resort'].value_counts()

1     59830
2     55883
6     50869
7     37809
3     33489
5     32784
9     28115
11    18271
4     14820
10     5684
13     3870
Name: state_code_resort, dtype: int64

In [7]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))

    return df
traindata=reduce_mem_usage(traindata)
testdata=reduce_mem_usage(testdata)

Memory usage after optimization is: 29.63 MB
Decreased by 52.6%
Memory usage after optimization is: 12.46 MB
Decreased by 51.6%

In [8]:
traindata.columns

Index(['reservation_id', 'booking_date', 'checkin_date', 'checkout_date',
       'channel_code', 'main_product_code', 'numberofadults',
       'numberofchildren', 'persontravellingid', 'resort_region_code',
       'resort_type_code', 'room_type_booked_code', 'roomnights',
       'season_holidayed_code', 'state_code_residence', 'state_code_resort',
       'total_pax', 'member_age_buckets', 'booking_type_code', 'memberid',
       'cluster_code', 'reservationstatusid_code', 'resort_id',
       'amount_spent_per_room_night_scaled'],
      dtype='object')

In [9]:
traindata['booking_date']=pd.to_datetime(traindata['booking_date'],dayfirst=True)
traindata['checkin_date']=pd.to_datetime(traindata['checkin_date'],dayfirst=True)
traindata['checkout_date']=pd.to_datetime(traindata['checkout_date'],dayfirst=True)
testdata['booking_date']=pd.to_datetime(testdata['booking_date'],dayfirst=True)
testdata['checkin_date']=pd.to_datetime(testdata['checkin_date'],dayfirst=True)
testdata['checkout_date']=pd.to_datetime(testdata['checkout_date'],dayfirst=True)

In [10]:
traindata['stay_duration']=(traindata['checkout_date']-traindata['checkin_date']).dt.days
traindata['advance_book']=(traindata['checkin_date']-traindata['booking_date']).dt.days
testdata['stay_duration']=(testdata['checkout_date']-testdata['checkin_date']).dt.days
testdata['advance_book']=(testdata['checkin_date']-testdata['booking_date']).dt.days

In [11]:
traindata.loc[:,['booking_date','checkin_date','checkout_date','stay_duration','advance_book']].head()

  booking_date checkin_date checkout_date  stay_duration  advance_book
0   2018-04-05   2018-04-05    2018-04-06              1             0
1   2015-01-23   2015-04-11    2015-04-16              5            78
2   2015-01-28   2015-02-01    2015-02-05              4             4
3   2015-05-02   2015-06-11    2015-06-16              5            40
4   2015-09-02   2015-12-14    2015-12-19              5           103

In [12]:
testdata.loc[:,['booking_date','checkin_date','checkout_date','stay_duration','advance_book']].head()

  booking_date checkin_date checkout_date  stay_duration  advance_book
0   2018-04-05   2018-04-05    2018-04-06              1             0
1   2015-05-24   2015-06-23    2015-06-27              4            30
2   2015-07-21   2015-08-07    2015-08-10              3            17
3   2015-07-31   2015-10-22    2015-10-25              3            83
4   2016-07-01   2016-10-01    2016-10-05              4            92

In [13]:
traindata['booking_year']=traindata['booking_date'].dt.year
traindata['booking_month']=traindata['booking_date'].dt.month
traindata['booking_day']=traindata['booking_date'].dt.day
traindata['checkin_year']=traindata['checkin_date'].dt.year
traindata['checkin_month']=traindata['checkin_date'].dt.month
traindata['checkin_day']=traindata['checkin_date'].dt.day
traindata['checkout_year']=traindata['checkout_date'].dt.year
traindata['checkout_month']=traindata['checkout_date'].dt.month
traindata['checkout_day']=traindata['checkout_date'].dt.day

testdata['booking_year']=testdata['booking_date'].dt.year
testdata['booking_month']=testdata['booking_date'].dt.month
testdata['booking_day']=testdata['booking_date'].dt.day
testdata['checkin_year']=testdata['checkin_date'].dt.year
testdata['checkin_month']=testdata['checkin_date'].dt.month
testdata['checkin_day']=testdata['checkin_date'].dt.day
testdata['checkout_year']=testdata['checkout_date'].dt.year
testdata['checkout_month']=testdata['checkout_date'].dt.month
testdata['checkout_day']=testdata['checkout_date'].dt.day

In [14]:
traindata.columns

Index(['reservation_id', 'booking_date', 'checkin_date', 'checkout_date',
       'channel_code', 'main_product_code', 'numberofadults',
       'numberofchildren', 'persontravellingid', 'resort_region_code',
       'resort_type_code', 'room_type_booked_code', 'roomnights',
       'season_holidayed_code', 'state_code_residence', 'state_code_resort',
       'total_pax', 'member_age_buckets', 'booking_type_code', 'memberid',
       'cluster_code', 'reservationstatusid_code', 'resort_id',
       'amount_spent_per_room_night_scaled', 'stay_duration', 'advance_book',
       'booking_year', 'booking_month', 'booking_day', 'checkin_year',
       'checkin_month', 'checkin_day', 'checkout_year', 'checkout_month',
       'checkout_day'],
      dtype='object')

In [15]:
testdata.columns

Index(['reservation_id', 'booking_date', 'checkin_date', 'checkout_date',
       'channel_code', 'main_product_code', 'numberofadults',
       'numberofchildren', 'persontravellingid', 'resort_region_code',
       'resort_type_code', 'room_type_booked_code', 'roomnights',
       'season_holidayed_code', 'state_code_residence', 'state_code_resort',
       'total_pax', 'member_age_buckets', 'booking_type_code', 'memberid',
       'cluster_code', 'reservationstatusid_code', 'resort_id',
       'stay_duration', 'advance_book', 'booking_year', 'booking_month',
       'booking_day', 'checkin_year', 'checkin_month', 'checkin_day',
       'checkout_year', 'checkout_month', 'checkout_day'],
      dtype='object')

In [16]:
traindata.shape

(341424, 35)

In [17]:
testdata.shape

(146765, 34)

In [18]:
traindata['channel_code']=traindata['channel_code'].astype('category')
testdata['channel_code']=testdata['channel_code'].astype('category')
traindata['main_product_code']=traindata['main_product_code'].astype('category')
testdata['main_product_code']=testdata['main_product_code'].astype('category')
traindata['persontravellingid']=traindata['persontravellingid'].astype('category')
testdata['persontravellingid']=testdata['persontravellingid'].astype('category')
traindata['resort_region_code']=traindata['resort_region_code'].astype('category')
testdata['resort_region_code']=testdata['resort_region_code'].astype('category')
traindata['resort_type_code']=traindata['resort_type_code'].astype('category')
testdata['resort_type_code']=testdata['resort_type_code'].astype('category')
traindata['room_type_booked_code']=traindata['room_type_booked_code'].astype('category')
testdata['room_type_booked_code']=testdata['room_type_booked_code'].astype('category')
traindata['season_holidayed_code']=traindata['season_holidayed_code'].astype('category')
testdata['season_holidayed_code']=testdata['season_holidayed_code'].astype('category')
traindata['state_code_residence']=traindata['state_code_residence'].astype('category')
testdata['state_code_residence']=testdata['state_code_residence'].astype('category')
traindata['state_code_resort']=traindata['state_code_resort'].astype('category')
testdata['state_code_resort']=testdata['state_code_resort'].astype('category')
traindata['member_age_buckets']=traindata['member_age_buckets'].astype('category')
testdata['member_age_buckets']=testdata['member_age_buckets'].astype('category')
traindata['booking_type_code']=traindata['booking_type_code'].astype('category')
testdata['booking_type_code']=testdata['booking_type_code'].astype('category')
traindata['cluster_code']=traindata['cluster_code'].astype('category')
testdata['cluster_code']=testdata['cluster_code'].astype('category')
traindata['reservationstatusid_code']=traindata['reservationstatusid_code'].astype('category')
testdata['reservationstatusid_code']=testdata['reservationstatusid_code'].astype('category')
traindata['resort_id']=traindata['resort_id'].astype('category')
testdata['resort_id']=testdata['resort_id'].astype('category')
traindata['booking_year']=traindata['booking_year'].astype('category')
testdata['booking_year']=testdata['booking_year'].astype('category')
traindata['booking_month']=traindata['booking_month'].astype('category')
testdata['booking_month']=testdata['booking_month'].astype('category')
traindata['booking_day']=traindata['booking_day'].astype('category')
testdata['booking_day']=testdata['booking_day'].astype('category')
traindata['checkin_year']=traindata['checkin_year'].astype('category')
testdata['checkin_year']=testdata['checkin_year'].astype('category')
traindata['checkin_month']=traindata['checkin_month'].astype('category')
testdata['checkin_month']=testdata['checkin_month'].astype('category')
traindata['checkin_day']=traindata['checkin_day'].astype('category')
testdata['checkin_day']=testdata['checkin_day'].astype('category')
traindata['checkout_year']=traindata['checkout_year'].astype('category')
testdata['checkout_year']=testdata['checkout_year'].astype('category')
traindata['checkout_month']=traindata['checkout_month'].astype('category')
testdata['checkout_month']=testdata['checkout_month'].astype('category')
traindata['checkout_day']=traindata['checkout_day'].astype('category')
testdata['checkout_day']=testdata['checkout_day'].astype('category')
traindata['memberid']=traindata['memberid'].astype('category')
testdata['memberid']=testdata['memberid'].astype('category')

In [19]:
#mode imputation
traindata['season_holidayed_code']=traindata['season_holidayed_code'].fillna(2.0)
traindata['state_code_residence']=traindata['state_code_residence'].fillna(8.0)
testdata['season_holidayed_code']=testdata['season_holidayed_code'].fillna(2.0)
testdata['state_code_residence']=testdata['state_code_residence'].fillna(8.0)

In [20]:
#Increasing features
traindata.loc[:,['numberofadults','numberofchildren','total_pax','adult_percentage','children_percentage','noofguests']].head()

D:\Users\Vikas\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,numberofadults,numberofchildren,total_pax,adult_percentage,children_percentage,noofguests
0,2,0,3,NaN,NaN,NaN
1,2,0,2,NaN,NaN,NaN
2,2,0,2,NaN,NaN,NaN
3,2,2,2,NaN,NaN,NaN
4,2,0,2,NaN,NaN,NaN

In [21]:
import datetime
weekDays = ("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday")
traindata['Booking_Day']=traindata['booking_date'].apply(lambda x : weekDays[x.weekday()])
traindata['Checkin_Day']=traindata['checkin_date'].apply(lambda x : weekDays[x.weekday()])
traindata['Checkout_Day']=traindata['checkout_date'].apply(lambda x : weekDays[x.weekday()])

testdata['Booking_Day']=testdata['booking_date'].apply(lambda x : weekDays[x.weekday()])
testdata['Checkin_Day']=testdata['checkin_date'].apply(lambda x : weekDays[x.weekday()])
testdata['Checkout_Day']=testdata['checkout_date'].apply(lambda x : weekDays[x.weekday()])

In [22]:
traindata['Booking_Day']=traindata['Booking_Day'].astype('category')
testdata['Booking_Day']=testdata['Booking_Day'].astype('category')
traindata['Checkin_Day']=traindata['Checkin_Day'].astype('category')
testdata['Checkin_Day']=testdata['Checkin_Day'].astype('category')
traindata['Checkout_Day']=traindata['Checkout_Day'].astype('category')
testdata['Checkout_Day']=testdata['Checkout_Day'].astype('category')

In [23]:
traindata['adult_percentage']=traindata['numberofadults']/traindata['total_pax']
traindata['children_percentage']=traindata['numberofchildren']/traindata['total_pax']
traindata['noofguests']=traindata['total_pax']-(traindata['numberofadults']+traindata['numberofchildren'])

testdata['adult_percentage']=testdata['numberofadults']/testdata['total_pax']
testdata['children_percentage']=testdata['numberofchildren']/testdata['total_pax']
testdata['noofguests']=testdata['total_pax']-(testdata['numberofadults']+testdata['numberofchildren'])

In [24]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341424 entries, 0 to 341423
Data columns (total 41 columns):
reservation_id                        341424 non-null object
booking_date                          341424 non-null datetime64[ns]
checkin_date                          341424 non-null datetime64[ns]
checkout_date                         341424 non-null datetime64[ns]
channel_code                          341424 non-null category
main_product_code                     341424 non-null category
numberofadults                        341424 non-null int8
numberofchildren                      341424 non-null int8
persontravellingid                    341424 non-null category
resort_region_code                    341424 non-null category
resort_type_code                      341424 non-null category
room_type_booked_code                 341424 non-null category
roomnights                            341424 non-null int8
season_holidayed_code                 341424 non-null category
state_code_residence                  341424 non-null category
state_code_resort                     341424 non-null category
total_pax                             341424 non-null int8
member_age_buckets                    341424 non-null category
booking_type_code                     341424 non-null category
memberid                              341424 non-null category
cluster_code                          341424 non-null category
reservationstatusid_code              341424 non-null category
resort_id                             341424 non-null category
amount_spent_per_room_night_scaled    341424 non-null float16
stay_duration                         341424 non-null int64
advance_book                          341424 non-null int64
booking_year                          341424 non-null category
booking_month                         341424 non-null category
booking_day                           341424 non-null category
checkin_year                          341424 non-null category
checkin_month                         341424 non-null category
checkin_day                           341424 non-null category
checkout_year                         341424 non-null category
checkout_month                        341424 non-null category
checkout_day                          341424 non-null category
Booking_Day                           341424 non-null category
Checkin_Day                           341424 non-null category
Checkout_Day                          341424 non-null category
adult_percentage                      341424 non-null float64
children_percentage                   341414 non-null float64
noofguests                            341424 non-null int8
dtypes: category(27), datetime64[ns](3), float16(1), float64(2), int64(2), int8(5), object(1)
memory usage: 38.7+ MB

In [25]:
testdata.shape

(146765, 40)

In [26]:
traindata.loc[:,['numberofadults','numberofchildren','persontravellingid','roomnights','total_pax']].head(10)

   numberofadults  numberofchildren persontravellingid  roomnights  total_pax
0               2                 0                 46           1          3
1               2                 0                 46           5          2
2               2                 0                 47           4          2
3               2                 2                 46           5          2
4               2                 0                 46           5          2
5               2                 0                 47           2          2
6               2                 0                 46           1          1
7               2                 2                 46           5          4
8               2                 0                 45           6          2
9               2                 0                 45           4          2

In [27]:
traindata.shape

(341424, 41)

In [28]:
mtraindata=traindata.copy()
mtestdata=testdata.copy()

In [29]:
mtestdata.shape

(146765, 40)

In [30]:
a=traindata.groupby('resort_id')['amount_spent_per_room_night_scaled'].mean().reset_index(name ='Resort Average')
a=pd.DataFrame(a)
b=traindata.groupby('resort_id')['amount_spent_per_room_night_scaled'].max().reset_index(name ='Resort Max')
b=pd.DataFrame(b)
c=traindata.groupby('resort_id')['amount_spent_per_room_night_scaled'].sum().reset_index(name ='Resort Sum')
c=pd.DataFrame(c)
mtraindata=pd.merge(mtraindata,a,how='inner',on='resort_id')
mtestdata=pd.merge(mtestdata,a,how='inner',on='resort_id')
mtraindata=pd.merge(mtraindata,b,how='inner',on='resort_id')
mtestdata=pd.merge(mtestdata,b,how='inner',on='resort_id')
mtraindata=pd.merge(mtraindata,c,how='inner',on='resort_id')
mtestdata=pd.merge(mtestdata,c,how='inner',on='resort_id')

In [31]:
mtraindata.shape

(341424, 44)

In [32]:
mtraindata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 341424 entries, 0 to 341423
Data columns (total 44 columns):
reservation_id                        341424 non-null object
booking_date                          341424 non-null datetime64[ns]
checkin_date                          341424 non-null datetime64[ns]
checkout_date                         341424 non-null datetime64[ns]
channel_code                          341424 non-null category
main_product_code                     341424 non-null category
numberofadults                        341424 non-null int8
numberofchildren                      341424 non-null int8
persontravellingid                    341424 non-null category
resort_region_code                    341424 non-null category
resort_type_code                      341424 non-null category
room_type_booked_code                 341424 non-null category
roomnights                            341424 non-null int8
season_holidayed_code                 341424 non-null category
state_code_residence                  341424 non-null category
state_code_resort                     341424 non-null category
total_pax                             341424 non-null int8
member_age_buckets                    341424 non-null category
booking_type_code                     341424 non-null category
memberid                              341424 non-null category
cluster_code                          341424 non-null category
reservationstatusid_code              341424 non-null category
resort_id                             341424 non-null category
amount_spent_per_room_night_scaled    341424 non-null float16
stay_duration                         341424 non-null int64
advance_book                          341424 non-null int64
booking_year                          341424 non-null category
booking_month                         341424 non-null category
booking_day                           341424 non-null category
checkin_year                          341424 non-null category
checkin_month                         341424 non-null category
checkin_day                           341424 non-null category
checkout_year                         341424 non-null category
checkout_month                        341424 non-null category
checkout_day                          341424 non-null category
Booking_Day                           341424 non-null category
Checkin_Day                           341424 non-null category
Checkout_Day                          341424 non-null category
adult_percentage                      341424 non-null float64
children_percentage                   341414 non-null float64
noofguests                            341424 non-null int8
Resort Average                        341424 non-null float16
Resort Max                            341424 non-null float16
Resort Sum                            341424 non-null float16
dtypes: category(27), datetime64[ns](3), float16(4), float64(2), int64(2), int8(5), object(1)
memory usage: 43.2+ MB

In [33]:
mtraindata.corr()

,numberofadults,numberofchildren,roomnights,total_pax,amount_spent_per_room_night_scaled,stay_duration,advance_book,adult_percentage,children_percentage,noofguests,Resort Average,Resort Max,Resort Sum
numberofadults,1.000000,-0.046198,0.570278,0.100545,0.150044,-0.007725,0.085121,0.753173,-0.026982,-0.788340,0.075078,0.068488,0.033286
numberofchildren,-0.046198,1.000000,0.092463,0.197066,0.047822,0.063890,0.098084,-0.122849,0.923694,-0.219624,-0.014309,0.025400,0.039288
roomnights,0.570278,0.092463,1.000000,-0.116305,0.050373,0.459754,0.239508,0.560939,0.128778,-0.593535,-0.010982,0.015126,-0.068758
total_pax,0.100545,0.197066,-0.116305,1.000000,0.143055,0.020882,0.044040,-0.433811,0.061447,0.413868,0.051984,0.092613,0.092815
amount_spent_per_room_night_scaled,0.150044,0.047822,0.050373,0.143055,1.000000,-0.198802,-0.033976,0.048428,0.033082,-0.065223,0.198339,0.087681,0.057040
stay_duration,-0.007725,0.063890,0.459754,0.020882,-0.198802,1.000000,0.302765,-0.018322,0.055041,-0.005151,-0.043961,0.037485,-0.076074
advance_book,0.085121,0.098084,0.239508,0.044040,-0.033976,0.302765,1.000000,0.052060,0.091977,-0.084750,-0.059773,-0.019404,0.032552
adult_percentage,0.753173,-0.122849,0.560939,-0.433811,0.048428,-0.018322,0.052060,1.000000,-0.027181,-0.853451,0.033362,0.004164,-0.020909
children_percentage,-0.026982,0.923694,0.128778,0.061447,0.033082,0.055041,0.091977,-0.027181,1.000000,-0.285638,-0.019896,0.011476,0.027258
noofguests,-0.788340,-0.219624,-0.593535,0.413868,-0.065223,-0.005151,-0.084750,-0.853451,-0.285638,1.000000,-0.029637,-0.015420,0.009181
Resort Average,0.075078,-0.014309,-0.010982,0.051984,0.198339,-0.043961,-0.059773,0.033362,-0.019896,-0.029637,1.000000,0.442083,0.315093
Resort Max,0.068488,0.025400,0.015126,0.092613,0.087681,0.037485,-0.019404,0.004164,0.011476,-0.015420,0.442083,1.000000,0.483464
Resort Sum,0.033286,0.039288,-0.068758,0.092815,0.057040,-0.076074,0.032552,-0.020909,0.027258,0.009181,0.315093,0.483464,1.000000

In [34]:
dtrain=mtraindata.copy()
dtest=mtestdata.copy()

In [35]:
dtest.shape

(146765, 43)

In [36]:
dtrain.shape

(341424, 44)

In [37]:
del dtrain['booking_date']
del dtrain['checkin_date']
del dtrain['checkout_date']
del dtrain['reservation_id']
del dtrain['memberid']
del dtrain['Resort Max']
del dtrain['Resort Sum']
del dtrain['numberofadults']
del dtrain['numberofchildren']
#del dtrain['reservationstatusid_code']
#del dtrain['checkin_year']
#del dtrain['cluster_code']
'''del dtrain['resort_region_code']
del dtrain['booking_type_code']
del dtrain['channel_code']
del dtrain['checkin_day']
del dtrain['booking_month']
del dtrain['checkout_day']
del dtrain['resort_type_code']
del dtrain['room_type_booked_code']
del dtrain['checkin_month']'''

del dtest['booking_date']
del dtest['checkin_date']
del dtest['checkout_date']
del dtest['reservation_id']
del dtest['memberid']
del dtest['Resort Max']
del dtest['Resort Sum']
del dtest['numberofadults']
del dtest['numberofchildren']
'''del dtest['reservationstatusid_code']
del dtest['checkin_year']
del dtest['cluster_code']
del dtest['resort_region_code']
del dtest['booking_type_code']
del dtest['channel_code']
del dtest['checkin_day']
del dtest['booking_month']
del dtest['checkout_day']
del dtest['resort_type_code']
del dtest['room_type_booked_code']
del dtest['checkin_month']'''

"del dtest['reservationstatusid_code']\ndel dtest['checkin_year']\ndel dtest['cluster_code']\ndel dtest['resort_region_code']\ndel dtest['booking_type_code']\ndel dtest['channel_code']\ndel dtest['checkin_day']\ndel dtest['booking_month']\ndel dtest['checkout_day']\ndel dtest['resort_type_code']\ndel dtest['room_type_booked_code']\ndel dtest['checkin_month']"

In [38]:
dtrain.columns

Index(['channel_code', 'main_product_code', 'persontravellingid',
       'resort_region_code', 'resort_type_code', 'room_type_booked_code',
       'roomnights', 'season_holidayed_code', 'state_code_residence',
       'state_code_resort', 'total_pax', 'member_age_buckets',
       'booking_type_code', 'cluster_code', 'reservationstatusid_code',
       'resort_id', 'amount_spent_per_room_night_scaled', 'stay_duration',
       'advance_book', 'booking_year', 'booking_month', 'booking_day',
       'checkin_year', 'checkin_month', 'checkin_day', 'checkout_year',
       'checkout_month', 'checkout_day', 'Booking_Day', 'Checkin_Day',
       'Checkout_Day', 'adult_percentage', 'children_percentage', 'noofguests',
       'Resort Average'],
      dtype='object')

In [39]:
Y=dtrain['amount_spent_per_room_night_scaled']

In [40]:
del dtrain['amount_spent_per_room_night_scaled']

In [41]:
dtrain=reduce_mem_usage(dtrain)
dtest=reduce_mem_usage(dtest)

Memory usage after optimization is: 18.90 MB
Decreased by 18.3%
Memory usage after optimization is: 8.13 MB
Decreased by 18.3%

In [42]:
temp=dtrain.append(dtest)
xgdata=pd.get_dummies(temp)

In [43]:
xgtrain=xgdata.iloc[:dtrain.shape[0],:]
xgtest=xgdata.iloc[dtrain.shape[0]:,:]

In [44]:
print(xgtest.shape)
print(xgtrain.shape)

(146765, 312)
(341424, 312)

In [45]:
from scipy.sparse import csr_matrix
xgtrain=csr_matrix(xgtrain)
xgtest=csr_matrix(xgtest)

In [46]:
xgtest.shape

(146765, 312)

from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(xgtrain, Y, train_size=0.7, random_state=1234)
from xgboost import XGBClassifier
model_def=XGBClassifier()
model_def.fit(X_train ,y_train)
pred_def=model_def.predict(X_val)
RMSE(y_val, pred_def)

dtrain.iloc[:,0].head()

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(xgtrain, Y, train_size=0.7, random_state=1234)

D:\Users\Vikas\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [48]:
from sklearn.metrics import mean_squared_error
from math import sqrt
def RMSE(y_val,preds):
    rms = sqrt(mean_squared_error(y_val, preds))
    return rms

In [49]:
import lightgbm as lgb
params = {'reg_alpha': 4.75,
          'reg_lambda': 1.45,
          'min_child_samples':340,
          'num_leaves': 8,
          'learning_rate': 0.1,
          'metric' : 'l2_root'}
d_train = lgb.Dataset(X_train, label=y_train)
d_valid = lgb.Dataset(X_val, label=y_val)
watchlist = [d_valid]
n_estimators = 20000
model=lgb.train(params, d_train, n_estimators, watchlist, verbose_eval=0)
preds = model.predict(X_val)
RMSE(y_val,preds)

D:\Users\Vikas\Anaconda3\lib\site-packages\numpy\core\_methods.py:36: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial)

1.0010497385492498

In [50]:
sub10=model.predict(xgtest)
pd.DataFrame(sub10).to_csv('Sub10.csv')